.cities {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    margin: 40px 100px;
    gap: 15px 150px;
}


.no-city{
    height: 68vh;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    top: 100px;
}